{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(addSortieForm) }}
        <div class="row">
            <div class="col">
            </br>
            </br>
                <h4>Créer une sortie</h4>
            </br>
            </br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <th>Nom de la sortie :</th>
                        <td>
                            {{ form_row(addSortieForm.nomSortie) }}</td>
                    </tr>
                    <tr>
                        <th>Date et heure de la sortie :</th>
                        <td>{{ form_row(addSortieForm.dateHeureDebut) }}</td>
                    </tr>
                    <tr>
                        <th>Durée :</th>
                        <td>{{ form_row(addSortieForm.dateLimiteInscription) }}</td>
                    </tr>
                    <tr>
                        <th>Date limite d'inscription :</th>
                        <td>{{ form_row(addSortieForm.nbInscriptionMax) }}</td>
                    </tr>
                    <tr>
                        <th>Nombre de places :</th>
                        <td>{{ form_row(addSortieForm.duree) }}</td>
                    </tr>
                    <tr>
                        <th>Description et infos :</th>
                        <td>{{ form_row(addSortieForm.infosSortie) }}</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <table>
                    <tr>
                        <th>Campus :</th>
                        <td>{{ app.user.campus }}</td>
                    </tr>
                    <tr>
                        <th>Ville :</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Lieu :</th>
                        <td>
                            {{ form_row(addSortieForm.lieu) }}
                            <div class="addLieuBtn">
                                <div><a href="#">+</a></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Rue :</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Code postal :</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Latitude :</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Longitude :</th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                </br>
                </br>
                <div class="addSortieBtn">
                    <button type="submit" class="btn">Enregistrer</button>
                    <button class="btn">Publier la sortie</button>
                    <button class="btn" onclick="window.location.href ='{{ path('sortie') }}';">Retour</button>
                </div>
            </div>
        </div>
        {{ form_end(addSortieForm) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

