<nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                 <h1><a class ="lien" href="{{ path('main_home') }}"><img class="logo" src="{{ asset('img/logo.jpg') }}" alt="Sortir.com">Sortir.com</a></h1>
            </div>
            <div class="col">
                {% if app.user %}
                    <div class="menu-lien">
                        <a class="navLink" href="#" title="Villes">Villes</a>
                        <a class="navLink" href="#" title="Campus">Campus</a>
                        <a class="navLink" href="{{path('main_home')}}" title="Home">Accueil</a>
                        <a class="navLink" href="{{path('participant_edit', {'id': app.user.id})}}" title="Mon profil">Mon profil</a>
                        <a class="navLink" href="{{path('app_logout')}}" title="Logout">Se déconnecter</a>
                    </div>
                {% else %}
                    <div class="menu-lien">
                        <a class="navLink" href="{{path('app_login')}}" title="Login">Se Connecter</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>